
.grid-container {
    width: fit-content;
  
    padding: 20px;
    margin: 0 auto;
  
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  